h3 {
    color: #ffffff; font-family: 'Raleway',sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

label{
    font-family: 'Roboto Medium', sans-serif;
    font-size: 33px;
    color: black;
    font-weight: 500;
    text-align: left;
}
textarea{
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
}
input[type=text]:focus{
    border: 3px solid #555;
}

.displaynotes{
    margin: auto;
    text-align: left;
    font-family: "Arial Black", sans-serif;
    font-size: 25px;
    width: 40%;
}
.writenotes{
    width: 40%;
    text-align: left;
    margin: auto;
}
#submit{
    width: 30em; height : 3em;
    text-align: center;
}
.buttonsection{
    margin: 0 auto;
    text-align: center;
    width:40%;
}
.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: white;
    color: blue;
}
.button2 {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.button2:hover{
    background-color: white;
    color: green;
}

html{
    background-image: url("interestingcolor.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}